<!DOCTYPE html>

#parse ($init)


<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	#*<meta content="initial-scale=1.0, width=device-width" name="viewport" />*#

	$theme.include($top_head_include)
	
	<link rel="shortcut icon" type="image/png" href="$images_folder/custom/favicon.png"/>
	
	<script type="text/javascript" src="$javascript_folder/bootstrap.min.js" ></script>

	<script type="text/javascript">
        function handleChange() {
            var arr = document.getElementById('menu1') ;
            window.location = arr.value ;
        } 
    </script>
</head>

<body class="$css_class opencps-theme ux">

	$theme.include($body_top_include)
	
	#if ($is_signed_in && $permissionChecker.isOmniadmin())
		#dockbar()
	#end
	
	<header id="banner" role="banner" class="mHeader_1">
		<div class="header container">
            <a href="" class="logo"></a>
            <a href="$sign_in_url" class="btn-dn"></a>
            <a href="$register_url" class="btn-dk"></a>
            <div class="upper_area">
            	<a href="" class="logo"></a>
	            <a href="$sign_in_url" class="btn-dn"></a>
	            <a href="$register_url" class="btn-dk"></a>
            </div>
		</div>
	</header>
		
	#if ($has_navigation || $is_signed_in)
		#parse ("$full_templates_path/navigation_private_page.vm")
	#end		
	
	<div class="huongdan">
        <div class="container">
            <div class="row-fluid">
                <div class="span3">
                    <p class="number">01</p>
                    <div class="name">
                        <p>Đăng ký</p>
                        <span>Tài khoản doanh nghiệp</span>
                    </div>
                </div>
                <div class="span3">
                    <p class="number">02</p>
                    <div class="name">
                        <p>Đăng nhập</p>
                        <span>và nộp hồ sơ trực tuyến</span>
                    </div>
                </div>
                <div class="span3">
                    <p class="number">03</p>
                    <div class="name">
                        <p>Nộp phí</p>
                        <span>thẩm định trực tuyến</span>
                    </div>
                </div>
                <div class="span3">
                    <p class="number">04</p>
                    <div class="name">
                        <p>Nộp lệ phí</p>
                        <span>Cấp số và nhận kết quả<br/>xử lý HS trực tuyến</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<article id="wrapper" class="container">	
		<div id="content">
	
			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()
	
				$portletDisplay.setTitle($the_title)
	
				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
		</div>
	</article>
	
	<footer>
		<div class="container footer">
			<div>
                <p class="copyright"></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
			<div href="" class="logo"></div>
		</div>
	</footer>

	$theme.include($body_bottom_include)
	
	$theme.include($bottom_include)

</body>

</html>
